
    .search-icon{
        width: 80%;
      
    }
    .search-btn-icon{
        border: none;
        background-color: transparent;
        z-index: 1;
        margin-right: 10px;
       
       
       
    }
    .search-box{
        width: 380px;
        height: 130px;
       
    }
    
  .input-group{
    position: absolute;
    top: 22px;
    height: 50px;  
     direction: ltr;
     border-radius: 15px;
     
  }
  .input-group input{
    font-size:1rem;
    border: none;
    background-color:var(--light-bg);
  }
  .form-control{

    height: 100%;
    border: none;
    
  }
  .btn{
    background-color:var(--light-bg);
  }
  .btn :hover{
    background-color: var(--primary-color);
  }
  .search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 50px;
    background-color: var(--light-bg);
    border-radius: 8px;
   
  }