.direction{
  direction: ltr;
}

.range-slider {
    padding: 10px 0;
    height:80px;
   background-color: white;
}
.multi-range-slider .thumb{
  background-color: var(--base-color);
  
}
.multi-range-slider .thumb::before {
	border: none;
	box-shadow:none;
  background-color: var(--base-color);
	}


.multi-range-slider .thumb .caption *{
 
  display: none;
}

.multi-range-slider .bar-inner {
	background-color: var(--base-color);
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: space-between;
	position: relative;
	border: none;
	justify-content: space-between;
	box-shadow: none;
}
.multi-range-slider {
    border: none;
  display: flex;
	position: relative;
box-shadow: none;
background-color: pink;
	padding: 0;
	
	flex-direction: column;
  
 
}

.multi-range-slider-container{
 
   align-items: center;
  
   margin-top: 15px;

}

.action-row{
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
   align-items: center;
}
.action-row button{
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--icon-bg);
}
