:root{
    --primary-font: "IRANSans";
    --primary-color: #574133;
    --light-primary-color:#3375AF;
    --white-color: #fff;
    --dark-color: #6f6f70;
    --mid-color: #b0b0b1;
     --light-bg:#EAEAEA;
    --icon-bg:#EBAE1F;
    --font-bg:rgb(112 112 112);
    --black:#000000;
    --base-color:#00539B;
    --border-color:#b0b0b1
  
}
